<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="100%" fxFlex.gt-xs="25rem">
    <mat-card-title>Time to Workout!</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Exercises">
          <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
            {{ exercise.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit" (click)="startTraining()">SELECT</button>
    </mat-card-actions>
  </mat-card>
</section>
