<mat-nav-list>
  <div *ngFor="let navLink of navLinks">
    <a
      *ngIf="(isAuth && navLink.auth) || (!isAuth && !navLink.auth)"
      mat-list-item
      routerLink="{{ navLink.link }}"
      (click)="close()">
      <mat-icon class="nav-link-icon">{{ navLink.icon }}</mat-icon>
      <span class="nav-link-text">{{ navLink.text }}</span>
    </a>
  </div>
  <mat-list-item
    *ngIf="isAuth">
    <button mat-icon-button type="button" (click)="logout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-link-text">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
