<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="1rem" class="nav-items">
      <div *ngFor="let navLink of navLinks">
        <li *ngIf="(isAuth && navLink.auth) || (!isAuth && !navLink.auth)">
          <a [routerLink]="navLink.link">
            <mat-icon>{{ navLink.icon }}</mat-icon>
            <span class="nav-link-text">{{ navLink.text }}</span>
          </a>
        </li>
      </div>

      <li *ngIf="isAuth">
        <a (click)="logout()">
          <mat-icon>eject</mat-icon>
          <span class="nav-link-text">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
